#include <winver.h>
#ifdef HAVE_CONFIG_H
#include "config.h"
#endif //HAVE_CONFIG_H

#define _V2S(M,N,P,B) #M "." #N "." #P "." #B
#define VERSION2STR(M,N,P,B) _V2S(M,N,P,B)

#if PACKAGE_VERSION_PRE > 0
#define PRERELEASE 0x2L
#else
#define PRERELEASE 0x0L
#endif

#if PACKAGE_VERSION_DEV > 0
#define DEV 0x8L
#else
#define DEV 0x0L
#endif

VS_VERSION_INFO VERSIONINFO

FILEVERSION    PACKAGE_VERSION_MAJOR, PACKAGE_VERSION_MINOR, PACKAGE_VERSION_PATCH, PACKAGE_VERSION_BUILDNUMBER
PRODUCTVERSION PACKAGE_VERSION_MAJOR, PACKAGE_VERSION_MINOR, PACKAGE_VERSION_PATCH, PACKAGE_VERSION_BUILDNUMBER
FILEFLAGSMASK  0x3fL
FILEOS         0x40004L
FILETYPE       0x2L
FILESUBTYPE    0x0L
#ifdef _DEBUG
	FILEFLAGS      PRERELEASE+DEV+0x1L
#else
	FILEFLAGS      PRERELEASE+DEV
#endif
BEGIN
BLOCK "StringFileInfo"
BEGIN
  BLOCK "040904b0"
  BEGIN
	VALUE "CompanyName",      ""
	VALUE "FileDescription",  "OpenSSH Windows Hello security key middleware"
	VALUE "FileVersion",      VERSION2STR(PACKAGE_VERSION_MAJOR, PACKAGE_VERSION_MINOR, PACKAGE_VERSION_PATCH, PACKAGE_VERSION_BUILDNUMBER)
	VALUE "InternalName",     "openssh_sk_winhello"
	VALUE "LegalCopyright",   "LGPLv3"
	VALUE "LegalTrademarks",  ""
	VALUE "OriginalFilename", "winhello.dll"
	VALUE "ProductName",      "OpenSSH SK WinHello"
	VALUE "ProductVersion",   VERSION2STR(PACKAGE_VERSION_MAJOR, PACKAGE_VERSION_MINOR, PACKAGE_VERSION_PATCH, PACKAGE_VERSION_BUILDNUMBER)
  END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x409, 1200
END
END
